In [38]:
import numpy as np # this library is used for working with arrays
import pandas as pd # this library is used for working with dataframes and import dataset
from sklearn.preprocessing import StandardScaler # this library is used for standardization data
from sklearn.model_selection import train_test_split # this library is used for splitting data
from sklearn import svm # this library is used for machine learning
from sklearn.metrics import accuracy_score # this library is used for accuracy score
import pickle

In [9]:
# load the dataset 
diabetes_dataset = pd.read_csv('Datasets/diabetes.csv')

In [10]:
# this comment help you to understand the function of the code
# pd.read_csv?

In [14]:
# show first 5 row of dataset
diabetes_dataset.head()
#outcome column is the target[our labels] 1= diabetes 0= no diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [15]:
# show number of rows and columns
diabetes_dataset.shape
# it means 768 = people[samples] with 9 = features or parameters of atributes
#diabetes_dataset["BloodPressure"]

(768, 9)

In [16]:
# getting the statistical measures of the data
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [17]:
# How many cases are there of diabetes
diabetes_dataset['Outcome'].value_counts()
# 0 = no diabetes 500
# 1 = diabetes 268

0    500
1    268
Name: Outcome, dtype: int64

تمام کسانی که دیابت ندارند میانگین 109 است و برای کسانی که دیابت دارند میانگین 141 است

In [18]:
# gives value based on 0 or 1 of outcom coulnm name
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [19]:
# separating the data and labels
# drop a column determine axist = 1 and if you want to drop a row axist = 0
X = diabetes_dataset.drop(columns = 'Outcome', axis = 1)
Y = diabetes_dataset['Outcome']

In [20]:
# all data value except outcome[labels]
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [21]:
# just labels column [outcome]
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

In [22]:
# fit data in the a variable 
scaler = StandardScaler()

In [23]:
scaler.fit(X)

StandardScaler()

In [24]:
#transform data 
# Fitting all inconsistent data to the standard scaler and transforming all the data to a common range
standardized_data = scaler.transform(X)

In [25]:
# all data value are between 0 and 1
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [26]:
# Assign standart data to variable
X = standardized_data
Y = diabetes_dataset['Outcome']

In [27]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# Train Test Split

In [28]:
#determine variable 
# 20% determine for test data and so 80% of data is for Training
X_train, X_test , Y_train , Y_test = train_test_split(X,Y,test_size = 0.2, stratify = Y, random_state = 2)

In [29]:
#check the extract test and original data set
print (X.shape, X_train.shape, X_test.shape)
# orginal amount of data is 768 
# form 768 data, 614 data used for training 
# form 768 data 154 data used for Testing

(768, 8) (614, 8) (154, 8)

# Training the Model

In [30]:
classifier = svm.SVC(kernel ='linear')

In [31]:
#fit the data to classifier variable 
#training the svm classifier 
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

# Evaluate our model

In [32]:
# Accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [33]:
print('Accuracy score of the training data :', training_data_accuracy)

Accuracy score of the training data : 0.7866449511400652

In [34]:
# Accuracy score on testing data 
X_test_prediction = classifier.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [35]:
print('Accuracy score of the testing data :', testing_data_accuracy)

Accuracy score of the testing data : 0.7727272727272727

# Make Prediction

In [41]:
input_data = (10,125,70,26,115,31.1,0.205,41) # all colums of data 

# change input data to numpy array 
input_data_as_numoy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance 
input_data_reshaped = input_data_as_numoy_array.reshape(1,-1)

# Standardize the input data 
std_data = scaler.transform(input_data_reshaped)

print (std_data)

prediction = classifier.predict(std_data)
print (prediction)


if (prediction[0]==0):
    print('The person is not diabetic')
else:
    print ("The person is diabetic")

[[ 1.82781311  0.12848945  0.04624525  0.34271738  0.30564246 -0.11328534
  -0.8059981   0.66020563]]
[0]
The person is not diabetic

C:\Users\Nina\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [43]:
with open('diabetes_model.pkl', 'wb') as f:
    pickle.dump(classifier, f)